.cards {
    display: flex;
    flex-direction: column;
}

.card-element { 
    display: grid;
    grid-auto-rows: auto;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 17px 20px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-right: 40px;
    width: 100%;
}

.card-element__list {
    background-color: #fff;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.card-element__image {
    width: 282px;
    height: 282px;
}

.card-element__description {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-between;

}

.card-element__title {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: black;
}

.card-element__like-button {
    background: white url("../images/like-button.svg") center no-repeat;
    width: 21px;
    height: 18px;
    border: none;
    cursor: pointer;
}

.card-element__like-button:hover {
    opacity: 50%;
}

@media screen and (max-width: 580px) {
    .card-element {
        grid-template-columns: repeat(1, 100%);
        margin-right: auto;
        margin-left: auto;
        grid-auto-flow: row;
        max-width: 282px;
    }
}

@media screen and (min-width: 580px) and (max-width: 1000px) {
    .card-element {
        grid-auto-flow: row;
        grid-template-columns: repeat(1, 1fr);
}
}