.header {
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    
}

.header::after {
    content: "header";
    width: 100%;
    height: 1px;
    background-color: solid rgba(84, 84, 84, 0.7);
}

.header__logo {
    color:#fff;
    max-width: 173px;
    max-height: 33px;
    padding-bottom: 41px;
    padding-top: 45px;
}

@media screen and (min-width: 580px) and (max-width: 1000px) {
    .header__logo {
        padding-top: 45px;
        padding-bottom: 41px;
    }
    
}

@media screen and (max-width: 580px) {

    .header__logo {
        padding-left: 7px;
        padding-top: 28px;
        padding-bottom: 21px;
        margin: 0;
        color: white;
        width: 126px;
        height: 24px;
    }
}


