.page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 880px;
}

@media screen and (max-width: 1000px) {
    .page {
    width: calc(100% - 40px);
    }
}