@import url("../vendor/normalize.css");
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/profile.css");
@import url("../blocks/logo.css");
@import url("../blocks/card.css");
@import url("../blocks/footer.css");

.body {
    background-color: black;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    max-width: 880px;
}

.header {
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
    color:#fff;
    max-width: 173px;
    max-height: 33px;
    padding-bottom: 62px;
    padding-top: 45px;
    margin-left: 200px;
}

.profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 47px;
}

.profile__image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile__info {
    display: flex;
}

.profile__title {
    color: #fff;
    font-style: normal;
    line-height: 1.1;
    font-size: 42px;
    font-weight: 500px;
    max-width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: auto auto auto 40px;
}

.profile__subtitle {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 500px;
    margin: 16px 0 auto 40px;
}

.profile__edit-button {
    background: transparent url("../images/edit-button.png") center no-repeat;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    margin: 18px;
    align-self: center;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 60%;
}

.profile__add-button {
    background: transparent url("../images/pluss-button.png") center no-repeat;
    width: 150px;
    height: 50px;
    border: 2px solid #fff;
    margin-left: auto;
    border-radius: 2px;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 60%;
}

.footer {
    max-width: 318px;
    max-height: 18px;
    padding-bottom: 60px;
    font-weight: 400px;
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
    padding-left: 200px;
    color: #545454;
}